@import 'basic.scss';

.title {
  color: var(--title);
  text-align: center;
}

.file {
  text-align: center;

  & .file-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    height: 100px;
    margin: auto;
    border: 0.2rem dashed hsl(0deg 0% 50%);
    color: hsl(0deg 0% 50%);
    font-size: 2.2rem;
    cursor: pointer;
  }
  & .small {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    color: var(--text);
    font-size: 90%;
  }
}

.content {
  display: flex;
  flex-wrap: wrap;

  .content-left,
  .content-right {
    flex: 0 0 50%;

    @media #{$Large} {
      flex: 0 0 100%;
    }
  }

  .content-left {
    padding-right: 2rem;

    @media #{$Large} {
      padding-right: 0;
    }
  }
}

.download-booklist,
.booklist,
.highlight-preview {
  position: relative;
  margin-top: 3rem;
  padding: 2rem 1.5rem;
  border: 0.1rem solid var(--title);
  color: var(--title);
}

.download-booklist::before,
.booklist::before,
.highlight-preview::before {
  position: absolute;
  top: -1.8rem;
  left: 1.5rem;
  padding: 0 1.5rem;
  background-color: var(--basic);
  font-size: 2rem;
}

.highlight-preview::before {
  content: "Highlight Preview";
}

.download-booklist {
  text-align: center;
  &::before {
    content: "Export Book List";
  }

  & button {
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }

    @media #{$Small} {
      width: 100%;
      margin-right: 0;
      margin-bottom: 1rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.booklist {
  min-height: 574px;
  max-height: calc(100vh - 474px);

  &::before {
    content: "Export Highlight";
  }

  .booklist-scroll {
    min-height: 523px;
    max-height: calc(100vh - 423px);
    padding-right: 1.3rem;
    overflow-y: scroll;
  }

  .book-title {
    padding: 0.5rem;
    border-bottom: 0.1rem solid var(--dark-text);
    cursor: pointer;

    &:hover {
      background-color: var(--text-hover);
    }
  }
}

.highlight-preview {
  .highlight-details {
    display: flex;
    align-items: center;

    .highlight-title {
      flex: 1;
    }
  }

  .highlight-textarea {
    width: 100%;
    min-height: 589px;
    max-height: calc(100vh - 489px);
    padding: 1rem;
    background-color: var(--basic);
    color: var(--title);
    font-family: var(--font);
    font-size: 1.6rem;
    line-height: 1.7;
  }
}

footer {
  color: hsl(0deg 0% 50%);
  font-size: 85%;
  text-align: center;
  a {
    color: var(--text);
  }
}
